@charset "utf-8";

body{
    color:#bb5f5f;
    background-color: rgb(82, 195, 165);
    }
    p{
        color:#663300;
        font-size:20px;
    }
    h1{
        border:10px dotted #ffffff;
        padding:50px 0;
        margin:50px auto;
        width: 500px;
        /* box-sizing:border-box; */
        text-align:center;
    }
    p,ul{
        text-align:center;
    }
    img{
        border-radius:50%;
    }
    ul{
        list-style-type:none;
        padding-left:0;
        width:500px;
        margin:0 auto;
    }
    li{
        margin:20px
    }
    a{
        background-color:#996633;
        display:block;
        padding:20px 0;
        text-decoration:none;
        color:#ffffff;
        font-weight:bold;
        font-size:1.3em;
        border-radius:30px 30px;
    }
