@charset "utf-8";
html{
    font-size: 12px;
}

body{
    color:black;
    font-family:"arial Black","HG丸ｺﾞｼｯｸM-PRO",sans-serif;
    background-color: #eedd88;
    background-image:url(../images/bg.png);
    /*background-repeat:repeat-y;
    background-position:center top;*/
}
header{
    /*background-color:#99ccff;*/
    width:1240px;
    margin: 0 auto 44px;
}
h1{
    text-align:center;
    padding:20px 0 16px;
}
ul{
    list-style-type:none;
    padding-left:0;
}
header nav ul{
    display:flex;
    justify-content:space-around;
    border-top: 2px solid #7c5d48;
    border-bottom: 2px solid #7c5d48;
    padding: 12px 0px 10px;
}
a{
    text-decoration:none;
    color:#0c2e50;
}
div{
    display:flex;
    justify-content:space-between;
    width:1240px;
    margin:0 auto 50px;

}
main{
    flex-basis:920px;
    background-color: #e4c664;
    border-radius: 16px;
    padding:50px 40px 50px;
    box-shadow: 10px 0px 10px 10px rgb(89, 26, 26);
}
aside {
    flex-basis:284px;
}
aside nav{
    flex-basis:920px;
    background-color: #e4c664;
    border-radius: 16px;
    padding:50px 40px 50px;
    box-shadow: 10px 0px 10px 10px rgb(89, 26, 26);
    margin-bottom:26px;
}
aside nav h2{
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color:#664444;
}
aside nav ul{
    font-size: 1.2rem;
}
.categoryNav ul li{
    list-style-type: square;
    color:#664444;
    margin:0 0 16px 20px;
}
.recentNav ul li{
    border-bottom: 1px solid #664444;
    padding-bottom: 10px;
    margin-bottom: 22px;
}


/*640px以下*/

@media screen and (max-width:640px){
html{
    font-size: 13px;
}
header{
    width:100%;
}  
h1{
text-align: left;
padding:20px 0 20px;
}



main{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 30px;
}    
aside{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 30px;
}

    div{
        display: block;
        width:100%;
    }
}